<div class="container">

  <img [src]="food.imageUrl" [alt]="food.name">

<div class="details">
  <div class="header">
    <span class="name">
      {{food.name}}
    </span>
    <span class="favorite {{food.favorite?'' :'not'}}">
      🤍
    </span>
  </div>
  <div class="rating">
    <ngb-rating [max]="5"  checkedcolor="red" [readonly]="false"></ngb-rating>
  </div>
  <div class="origins">
    <span *ngFor="let origins of food.origins">
      {{origins}}
    </span>
  </div>
   <!-- <div class="tags">
    <app-tags [foodPagetags]="food.tags"></app-tags>
  </div> -->
  <div class="cook-time">
    <span>
      🕛Time to cook about <strong>{{food.cookTime}}</strong>
    </span>
  </div>
  <div class="price">
    <span>
      {{food.price |currency:"&#8377;" }}
    </span>
  </div>
  <button (click)="addToCart()">Add to Cart</button>
</div>
